RewriteEngine On 

RewriteBase /bstory.com/

RewriteRule ^lien-he$ contact.php

RewriteRule ^trang-chu$ index.php

RewriteRule ^danh-muc$ cat.php

RewriteRule ^(.*)-([0-9]*)-page-([0-9]*)$ index.php?page=$3

RewriteRule ^(.*)-([0-9]*)-page-([0-9]*)$ cat.php?cat_id=$2&page=$3

RewriteRule ^(.*)-([0-9]*).html$ detail.php?detail_id=$2


RewriteRule ^(.*)-([0-9]*)$ cat.php?cat_id=$2

 
